* {
  box-sizing: border-box;
}

body {
  width: 1375px;
  margin: auto;
  font-family: 'Satisfy', cursive;
}

section, img, h2, p {
  width: 320px;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
}
